<div>
  <i class="fas fa-code bg-gray"></i>
  <div class="timeline-item">
    <h3 class="timeline-header">
      <a href="#">Doan Phan Thanh</a> Frontend Lead, Sub-PM (Sub Project
      Manager)
    </h3>
    <div class="timeline-body">
      <p>
        From April 2023 I gradually moved to lead the frontend development team.
      </p>
      <p>I have trained freshers to develop frontend for the company</p>
      <p>
        Furthermore, I am also the project manager of <em>VNPT CeCA</em>, which
        is company project
      </p>
      <p>
        I also started working with frontend frameworks like <b>ReactJs</b> and
        <b>VueJS</b>.
      </p>
      <p>
        Currently I can use 3 frameworks fluently, they are <b>Angular</b>,
        <b>ReactJs</b> and
        <b>VueJs</b>
      </p>
    </div>
  </div>
</div>
<div class="time-label">
  <span class="bg-danger"> Mar. 2022 </span>
</div>
<div>
  <i class="fas fa-code bg-gray"></i>
  <div class="timeline-item">
    <h3 class="timeline-header">
      <a href="#">Doan Phan Thanh</a> Frontend Developer
    </h3>
    <div class="timeline-body">
      <p>
        During this time, I was more involved in website development than mobile
        apps.
      </p>
      <p>
        I continue to improve my knowledge and technology for web application as
        well as
        <b>Angular</b> framework
      </p>
    </div>
  </div>
</div>
<div class="time-label">
  <span class="bg-success"> Apr. 2020 </span>
</div>
<div>
  <i class="fas fa-code bg-gray"></i>
  <div class="timeline-item">
    <h3 class="timeline-header">
      <a href="#">Doan Phan Thanh</a> Frontend Developer
    </h3>
    <div class="timeline-body">
      <p>
        Then I switched to being a mobile app developer. I develop mobile apps
        on IOS platform. I've been using <b>Swift</b>, <b>Objective-C</b> for
        time being
      </p>
    </div>
  </div>
</div>
<div>
  <i class="fas fa-code bg-gray"></i>
  <div class="timeline-item">
    <h3 class="timeline-header">
      <a href="#">Doan Phan Thanh</a> Frontend Developer
    </h3>
    <div class="timeline-body">
      <p>
        During the first time after graduation, I started working with
        <b>HTML/CSS</b>, <b>Javascript</b>, <b>Typescript</b>,
        <b>Bootstrap</b> and <b>Angular</b> Framework
      </p>
    </div>
  </div>
</div>
<div class="time-label">
  <span class="bg-gray"> Dec. 2019 </span>
</div>
<div>
  <i class="far fa-clock bg-gray"></i>
</div>
