<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">Personal Projects</a>: Some personal projects
    </h3>
    <div class="timeline-body">
      <p>I also have some personal projects</p>
      <p>I want to share my knowledge and experience with everyone.</p>
      <p>
        I have been building the base source sets for the current trending
        frameworks. They are <b>Angular</b>, <b>ReactJs</b>, <b>VueJS</b>
      </p>
      <p>
        GitHub:
        <a
          href="https://github.com/thanhdp1305?tab=repositories"
          target="_blank">
          Redirect to my github page
        </a>
      </p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">Campus Check</a>: School visitor tracking system
    </h3>
    <div class="timeline-body">
      <p>
        This is a system that allows cases to register vistors entering and
        leaving the school. Track vistor location on campus map
      </p>
      <p>In this project, I am the frontend team leader</p>
      <p>Website: <b>ReactJs</b></p>
      <p>Tech: <b>React, Bootstrap, Docker, AWS, NestJS, PosgresSQL, websocket</b></p>
      <p>
        Visit website:
        <a href="https://campuscheck.com/" target="_blank"
          >https://campuscheck.com/</a
        >
      </p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">Epic Golf Club</a>
    </h3>
    <div class="timeline-body">
      <p>
        This is a system for managing tee times and reservations for members at
        golf courses in the US and some other countries
      </p>
      <p>In this project, I am the frontend team leader</p>
      <p>Website: <b>ReactJs</b></p>
      <p>Tech: <b>React, Bootstrap, Docker, AWS, NestJS, Mongo, websocket</b></p>
      <p>
        Visit website:
        <a href="https://epicgolfclub.com/" target="_blank"
          >https://epicgolfclub.com/</a
        >
      </p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header"><a href="#">Chvrm</a>: CHAVERIM OF ROCKLAND</h3>
    <div class="timeline-body">
      <p>
        System to monitor and support people who encounter incidents and
        accidents on US roads
      </p>
      <p>In this project, I am the frontend team leader</p>
      <p>Website: <b>ReactJs</b></p>
      <p>Tech: <b>React, Bootstrap, .NET, Azure, SQL Server</b></p>
      <p>
        Visit website:
        <a href="https://chvrm.org/" target="_blank">https://chvrm.org/</a>
      </p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">VNPT eContract V2</a>: Electronic contract version 2.0
    </h3>
    <div class="timeline-body">
      <p>In this project, I am the frontend team leader</p>
      <p>Website: <b>Angular</b> framework(v15)</p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">VNPT CeCA</a>: VNPT Certified e-Contract Authority
    </h3>
    <div class="timeline-body">
      <p>In this project, I am Sub-PM and the frontend team leader</p>
      <p>Website: <b>Angular</b> framework(v13)</p>
      <p>Tech: <b>Angular, Bootstrap, Java Sprint Boot, ORA DB, K8s</b></p>
      <p>
        Visit website:
        <a href="https://ceca.vnpt.vn/home" target="_blank"
          >https://ceca.vnpt.vn</a
        >
      </p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">VNPT eContract</a>: Electronic contract
    </h3>
    <div class="timeline-body">
      <p>
        In this project, I am the developer of the system's website, SDK for
        website, SDK for IOS app and the frontend team leader
      </p>
      <p>Website: <b>Angular</b> framework(v9)</p>
      <p>IOS app: <b>Swift</b></p>
      <p>Tech: <b>Angular, Bootstrap, Java Sprint Boot, ORA DB, K8s</b></p>
      <p>
        Visit website:
        <a href="https://econtract.vnpt.vn/home" target="_blank"
          >https://econtract.vnpt.vn</a
        >
      </p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">VNPT VnCare</a>
    </h3>
    <div class="timeline-body">
      <p>
        Remote online medical consultation application is a solution for
        individuals to monitor and receive health care for themselves and their
        family members. This is one of the first applications to exploit
        integrated information from medical facilities, medical professionals,
        doctors and individuals to provide the best health care services to the
        people.
      </p>
      <p>IOS app: <b>Swift</b></p>
      <p>
        Visit website:
        <a href="https://dangkykham.vncare.vn/" target="_blank"
          >https://dangkykham.vncare.vn/</a
        >
      </p>
      <p>
        IOS:
        <a
          href="https://apps.apple.com/vn/app/vncare/id1505167957"
          target="_blank"
          >Click to redirect</a
        >
      </p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">VNPT REV</a>: VNPT Real Estate Verification
    </h3>
    <div class="timeline-body">
      <p>
        In this project, I am the developer of the system's IOS application and
        website
      </p>
      <p>Website: <b>Angular</b> framework(v9)</p>
      <p>IOS app: <b>Objective-C</b></p>
      <p>Tech: <b>Angular, Bootstrap, NodeJS, ORA DB, K8s</b></p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">VNPT VDB</a>: VNPT Verification of Diplomas by Blockchain
      System
    </h3>
    <div class="timeline-body">
      <p>
        This is a project related to blockchain technology. The system uses
        blockchain to verify the authenticity of diplomas
      </p>
      <p>
        In this project, I am the developer of the system's mobile application
        and website
      </p>
      <p>Website: <b>Angular</b> framework(v9)</p>
      <p>IOS app: <b>Objective-C</b></p>
      <p>Tech: <b>Angular, Bootstrap, NodeJS, ORA DB, K8s</b></p>
    </div>
  </div>
</div>
