<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">Personal Projects</a>: Some personal projects
    </h3>
    <div class="timeline-body">
      <p>I also have some personal projects</p>
      <p>I want to share my knowledge and experience with everyone.</p>
      <p>
        I have been building the base source sets for the current trending
        frameworks. They are <b>Angular</b>, <b>ReactJs</b>, <b>VueJS</b>
      </p>
      <p>
        GitHub:
        <a
          href="https://github.com/thanhdp1305?tab=repositories"
          target="_blank">
          Redirect to my github page
        </a>
      </p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">VNPT eContract V2</a>: Electronic contract
    </h3>
    <div class="timeline-body">
      <p>
        In this project, I am the developer of the system's website and the
        frontend team leader
      </p>
      <p>Website: <b>Angular</b> framework(v15)</p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">VNPT eContract</a>: Electronic contract
    </h3>
    <div class="timeline-body">
      <p>
        In this project, I am the developer of the system's website, SDK for
        website, SDK for IOS app and the frontend team leader
      </p>
      <p>Website: <b>Angular</b> framework(v9)</p>
      <p>IOS app: <b>Swift</b></p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">VNPT VnCare</a>
    </h3>
    <div class="timeline-body">
      <p>
        Remote online medical consultation application is a solution for
        individuals to monitor and receive health care for themselves and their
        family members. This is one of the first applications to exploit
        integrated information from medical facilities, medical professionals,
        doctors and individuals to provide the best health care services to the
        people.
      </p>
      <p>IOS app: <b>Swift</b></p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">VNPT REV</a>: VNPT Real Estate Verification
    </h3>
    <div class="timeline-body">
      <p>
        In this project, I am the developer of the system's IOS application and
        website
      </p>
      <p>Website: <b>Angular</b> framework(v9)</p>
      <p>IOS app: <b>Objective-C</b></p>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-bookmark bg-gray"></i>
  <div class="timeline-item bg-grey">
    <h3 class="timeline-header">
      <a href="#">VNPT VDB</a>: VNPT Verification of Diplomas by Blockchain
      System
    </h3>
    <div class="timeline-body">
      <p>
        This is a project related to blockchain technology. The system uses
        blockchain to verify the authenticity of diplomas
      </p>
      <p>
        In this project, I am the developer of the system's mobile application
        and website
      </p>
      <p>Website: <b>Angular</b> framework(v9)</p>
      <p>IOS app: <b>Objective-C</b></p>
    </div>
  </div>
</div>
