//Màu cơ bản
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #f49351 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$gray:    #DEE5F1 !default;

$white:    #ffffff !default;
$gray-100: #EEF2F7 !default;
$gray-200: #DEE5F1 !default;
$gray-300: #BDC6D8 !default;
$gray-400: #98A0B3 !default;
$gray-500: #697083 !default;
$gray-600: #4F5771 !default;
$gray-700: #39415F !default;
$gray-800: #282E4E !default;
$gray-900: #1C2141 !default;
$black:    #000 !default;

//Bộ màu giao diện
$primary: #05833B !default;
$danger: #DB4956 !default;
$warning: #FECB2E !default;
$success: #0CAF60 !default;
$info: #17a2b8 !default;
$secondary: #DEE5F1 !default;

//Màu tùy chọn thêm
$body_bg: #f1f3ff !default;
$border_color_primary: #f1f3ff !default;
$input_disabled: #e9ecef !default;
$input_not_disabled: #e9ecef !default;
$bg-badge-light-new: #e9ecef !default;

$header_table_bg: #DEE5F1;
$ng_select_disabled: #DEE5F1;

$link-color: $blue;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
);