<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-11 col-lg-10">
      <section class="content-header">
        <div class="container-fluid"></div>
      </section>

      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                  <div class="text-center">
                    <img
                      class="profile-user-img img-fluid img-circle"
                      src="assets/media/jpg/my-avatar.JPG"
                      alt="User profile picture" />
                  </div>
                  <h3 class="profile-username text-center">Thanh Doan Phan</h3>
                  <p class="text-muted text-center">Frontend Lead</p>
                  <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>Bio</b>
                      <p class="float-right mb-0">To live is to fight</p>
                    </li>
                    <li class="list-group-item">
                      <b>Email</b>
                      <a
                        class="float-right"
                        href="mailto:doanphanthanh1305@gmail.com"
                        target="_blank">
                        doanphanthanh1305@gmail.com
                      </a>
                    </li>
                    <li class="list-group-item">
                      <b>Instagram</b>
                      <a
                        class="float-right"
                        href="https://www.instagram.com/thanhdp1305/"
                        target="_blank">
                        @thanhdp1305
                      </a>
                    </li>
                    <li class="list-group-item">
                      <b>Linkedin</b>
                      <a
                        class="float-right"
                        href="https://www.linkedin.com/in/thanh-doan-phan-25112a106/"
                        target="_blank">
                        Redirect to Linkedin
                      </a>
                    </li>
                  </ul>
                  <strong><i class="fas fa-book mr-1"></i> Education</strong>
                  <div class="d-flex flex-column mt-3">
                    <span>
                      <b class="text-primary">
                        Bachelor of Information Technology (Software
                        Engineering)
                      </b>
                      | <b>Hue University of Sciences, Viet Nam</b>
                    </span>
                    <span>2015 - 2019</span>
                    <i class="text-muted">GPA: 3.2/4.0</i>
                  </div>
                  <div class="d-flex flex-column mt-3">
                    <span>
                      <b class="text-primary">
                        Certificate of High School Graduation
                      </b>
                      | <b>Le Quy Don Gifted High School, Viet Nam</b>
                    </span>
                    <span>2011 - 2014</span>
                    <i class="text-muted">GPA: 8.3/10</i>
                  </div>
                  <hr />
                  <strong>
                    <i class="fas fa-map-marker-alt mr-1"></i> Location
                  </strong>
                  <p></p>
                  <p class="text-muted">Da Nang, Viet Nam</p>
                  <hr />
                  <strong>
                    <i class="fas fa-pencil-alt mr-1"></i> Skills
                  </strong>
                  <p></p>
                  <div class="text-muted">
                    <span class="badge badge-primary py-2 px-3 mr-2 mb-2">
                      Angular
                    </span>
                    <span class="badge badge-danger py-2 px-3 mr-2 mb-2">
                      ReactJs
                    </span>
                    <span class="badge badge-primary py-2 px-3 mr-2 mb-2">
                      VueJs
                    </span>
                    <span class="badge badge-warning py-2 px-3 mr-2 mb-2">
                      Typescript
                    </span>
                    <span class="badge badge-success py-2 px-3 mr-2 mb-2">
                      Javascript
                    </span>
                    <span class="badge badge-info py-2 px-3 mr-2 mb-2">
                      HTML/CSS/SCSS
                    </span>
                    <span class="badge badge-secondary py-2 px-3 mr-2 mb-2">
                      Node.js
                    </span>
                    <span class="badge badge-primary py-2 px-3 mr-2 mb-2">
                      Swift
                    </span>
                    <span class="badge badge-danger py-2 px-3 mb-2">
                      Objective-C
                    </span>
                  </div>
                  <!-- <hr />
                  <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                  <p class="text-muted"></p> -->
                </div>
              </div>
            </div>

            <div class="col-lg-7 col-xl-8">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        href="#timeline"
                        data-toggle="tab">
                        Timeline
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#activity" data-toggle="tab">
                        Projects
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="timeline">
                      <div appTimeLine class="timeline timeline-inverse"></div>
                    </div>
                    <div class="tab-pane" id="activity">
                      <div appProjects class="timeline timeline-inverse"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center py-3">
  <span class="text-muted">Copyright @thanhdp1305</span>
</div>
